<% if @project.nil? or @project.module_enabled?(:gtt) %>
<div class="print box">
  <%= content_tag(:h3, l(:label_gtt_print_title)) %>
  <form action="#" method="post">
    <select name="template">
      <option value="1">TPL-FORM-000001</option>
      <option value="2">TPL-FORM-000002</option>
      <option value="3">TPL-FORM-000003</option>
      <option value="4">TPL-FORM-000004</option>
      <option value="5">TPL-FORM-000005</option>
      <option value="6">TPL-FORM-000006</option>
    </select>
    <%= content_tag(:input, nil, type: "button", value: l(:button_gtt_print_submit)) %>
  </form>
</div>
<div style="clear: both;"></div>
<% end %>
